/* ЭТО НЕ ГОТОВАЯ ВЕРСИЯ*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&family=PT+Serif:ital@1&family=Pacifico&family=Press+Start+2P&display=swap');

body{
    font-family: "Press Start 2P", sans-serif;
    margin: 0;
    background-color: #3c6589;
}


header{
    border-radius: 0 0 50px 50px;
    width: 95.8%;
    height: 300px;
    background: #7e9d91;
    margin:0;
    display: flex;
    padding: 50px;
    flex-direction: row;
}
.btn{
    border-radius: 50px;
    width: 20%;
    height: 70%;
    background: #12abb2;
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
}
p{
    font-weight: 400;
    font-size: 41px;
    color: #000;
    display: flex;
    margin:15px;
    text-align: center;
}
.icon-btn{
    width: 100px;
    height: 100px;
}
h1{
    font-weight: 400;
    font-size: 100px;
    color: #fff;
    text-align: center;
}
.main1{
    margin:0;
    border-radius: 50px;
    width: 2100px;
    height: 3236px;
    background: #7e9d91;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.craft{
    border-radius: 50px;
    width: 100%;
    height: 800px;
    background: #305038;
    display: flex;
    flex-direction: row;
    padding:50px;
    
}
.left{
    border-radius: 50px;
    width: 600px;
    height: 600px;
    background: #d9d9d9;
    display: flex;
    margin: 80px;
}
.craft-to-js,.choose-for-js,.history-for-js{
    background-color: #3c6589;
    margin: 0;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.choose-for-js,.history-for-js{
    display: none;
}